# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Virtual Environments ---
# Essential: We ignore installed libraries, only tracking the source code
.venv/
venv/
ENV/
env/

# --- Environment Variables (SECURITY) ---
# This is where database credentials and secrets live
.env
.env.local

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Docker ---
# Ignore persistent database data if mapped to a local folder
postgres_data/

# Load tests and temporal scripts
tests_sentinel/

# --- Logs ---
*.log